.dark{color-scheme:dark;}
.dark a:link,.dark a:visited{color:#e76775;}
.dark a:hover{color:#ed5565;}
.dark body{background:#1a1d21;color:#c1c4c9;}
.dark .header{background:#1f2227;}
.dark .top-bar{background:#15181c;}
.dark .top-page a:link,.dark .top-page a:visited{color:#9da1a7;}
.dark .top-page a:hover{color:#c1c4c9;}
.dark .top-page li li{background:#15181c;}
.dark .top-page li li a:hover{background:#252a30;}
.dark .top-page li.current_page_item a:link,.dark .top-page li.current_page_item a:visited,.dark .top-page li.current-menu-item a:link,.dark .top-page li.current-menu-item a:visited{color:#c1c4c9;}
.dark .socialicon{color:#c1c4c9;}
.dark .socialicon:hover{color:#ef7102;}
.dark .website a:link,.dark .website a:visited{color:#e8eaed;}
.dark .article h1 a:link,.dark .article h1 a:visited{color:#e8eaed;}
.dark .website a:hover,.dark .article h1 a:hover{color:#f7f9fd;}
.dark .blogdescription{color:#9da1a7;}
.dark .header-navigation{background:#252a30;}
.dark .roll-toggle,.dark .roll-top{background:rgba(69, 74, 80, 0.5);}
.dark .roll-toggle .sunmoon{color:#b4b7bb;}
.dark .roll-toggle .sunicon{opacity:1;transform:scale(1) rotate(0deg);}
.dark .roll-toggle .moonicon{opacity:0;transform:scale(0) rotate(180deg);}
.dark .roll-top .rollicon{color:#b4b7bb;}
.dark .mainmenu a:link, .dark .mainmenu a:visited{color:#9da1a7;}
.dark .mainmenu a:hover{color:#c1c4c9;background:#2c3138;}
.dark .mainmenu li li{background:#2c3138;border-top:1px solid #15181c;}
.dark .mainmenu li li:first-child{border-top:none;}
.dark .mainmenu li li a:hover{background:#3a3f45;}
.dark .mainmenu li.current-cat a:link,.dark .mainmenu li.current-cat a:visited,.dark .mainmenu li.current-menu-item > a:link,.dark .mainmenu li.current-menu-item > a:visited{color:#bbb;}
.dark .mainmenu li a.hasmenu:hover:after{color:#c1c4c9;}
.dark .search{background:#21252c;border:2px solid #3a3f45;}
.dark .search .search-input{color:#9da1a7;}
.dark .search .search-submit{color:#767a80;}
.dark .search .search-submit:hover{color:#9da1a7;}
.dark .main .post,.dark .main .type-page{background:#21252c;border-bottom-color:#161a20;box-shadow:0 0 4px #070b10;}
.dark .main .post-title a:link,.dark .main .post-title a:visited,.dark .main .sticky-title a:link,.dark .main .sticky-title a:visited{color:#e8eaed;}
.dark .main .post-title a:hover,.dark .main .sticky-title a:hover{color:#ed5565;}
.dark .main .post .edit{background:#3a3f45;}
.dark .main .post .edit a:link,.dark .main .post .edit a:visited{color:#8a8e94;}
.dark .main .post-content p{color:#c1c4c9;}
.dark .main .post-info{color:#8a8e94;}
.dark .post-card .post-meta{color:#8a8e94;}
.dark .post-card .card-category a,.dark .post-card .card-comments{color:#b4b7bb;}
.dark .main .crumb{background:#21252c;border-bottom:3px solid #161a20;box-shadow:0 0 4px #070b10;}
.dark .main .expand .expandicon{color:#9da1a7;}
.dark .main .article{background:#21252c;border-bottom:3px solid #161a20;box-shadow:0 0 4px #070b10;}
.dark .main .posticon{color:#767a80;}
.dark .main .article h1.post-title{color:#e8eaed;}
.dark .main .article .article-info{border-bottom:1px dotted #454a50;color:#8a8e94;}
.dark .main .article .article-content table th,.dark .main .article .article-content table td{border:1px solid #3a3f45;}
.dark .main .article .article-content table th{background:#2c3138;}
.dark .main .article .article-content blockquote{background:#2e333a;border-left:8px solid #393f48;}
.dark .main .article .article-content blockquote p{color:#b4b7bb;}
.dark .main .article .article-content cite{color:#9da1a7;}
.dark .main .article .article-content code{background:#2e333a;color:#c391b4;}
.dark .main .article .article-content h1, .dark .main .article .article-content h2, .dark .main .article .article-content h3, .dark .main .article .article-content h4, .dark .main .article .article-content h5, .dark .main .article .article-content h6{color:#dadde1;box-shadow:inset 0 -8px 0 0 #4a3235;}
.dark .main .article .article-content .titlebar{background:linear-gradient(to right, #2b1419, #3c1f29);border-left:0.25rem solid #a02834;box-shadow:none;}
.dark .main .article .article-content h5 li{background:transparent;}
.dark .main .article .article-content input{border:2px solid #3a3f45;background:#2c3138;}
.dark .main .read-more a:link, .dark .main .read-more a:visited{color:#e8eaed;}
.dark .article-tag-item{background:#282e35;border:1px solid #3a3f45;}
.dark .article-tag-item:hover{background:#ed5565;border:1px solid #ed5565;color:#e8eaed;}
.dark .article-tag-count{background:#3a3f45;color:#9da1a7;border:1px solid #454a50;}
.dark .article-tag-item:hover .article-tag-count{background:#973641;border:1px solid #973641;color:#c1c4c9;}
.dark .article-tag-item .topicicon{color:#767a80;}
.dark .article-tag-item:hover .topicicon{color:#f6dfdf;}
.dark .article-navigation:after{background:#2e333a;}
.dark .article-navigation .nav-item:hover{background:#252a30;}
.dark .article-navigation .nav-item-label{color:#767a80;}
.dark .article-navigation .nav-item-title{color:#b4b7bb;}
.dark .article-navigation .nav-item:hover .nav-item-title{color:#ed5565;}
.dark .article-navigation .nav-item-empty{color:#767a80;}
.dark .nav-item .nav-item-image::before{background:rgba(237, 85, 101, 0.85);}
.dark .nav-item .nav-item-image::after{color:#21252c;}
.dark .main .article-related .toggle-related-btn{background:#252a30;color:#c1c4c9;}
.dark .main .article-related .toggle-related-btn:hover{color:#ed5565;}
.dark .main .related-list .related-img .related-date{color:#b4b7bb;}
.dark .main .related-list .related-img .related-cc{color:#b4b7bb;}
.dark .main .article h3.article-title{background:#252a30;color:#c1c4c9;}
.dark .wp-block-image figcaption,.dark .wp-block-gallery figcaption,.dark .article .article-content p.wp-caption-text{color:#9da1a7;}
.dark .article-index-widget a.current{box-shadow:inset 0 -0.375rem 0 0 #4a3235;}
.dark .article-index-widget ol > li:has(.current)::before{color:#e76775;}
.dark .fixed-index::-webkit-scrollbar-thumb{border-radius:0.65rem;box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.1);background:#767a80;}
.dark .fixed-index::-webkit-scrollbar-thumb:hover{background:#8a8e94;}
.dark .fixed-index::-webkit-scrollbar-track{border-radius:0.65rem;box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.1);background:#454a50;}
.dark .zanzhu a:link,.dark .zanzhu a:visited{background:#2c3138;border:2px solid #3a3f45;color:#ff8140;}
.dark .zanzhu a:hover{background:#ff8140;border:2px solid #ff8140;color:#f5f7fa;}
.dark .shang-content{background:#2c3138;}
.dark .shang-close{background:#2c3138;color:#9da1a7;}
.dark .shang-close:hover{color:#f6dfdf;}
.dark .shang-body .shang-qrcode span{background:#2c3138;}
.dark .pagination span,.dark .pagination a{background:#2e333a;color:#9da1a7;}
.dark .pagination a:hover{background:#ed5565;color:#c1c4c9;}
.dark .pagination .current{background:#ed5565;color:#c1c4c9;}
.dark .pagination .dots,.dark .article .pagination .dots{background:transparent;}
.dark .fenye a span{background:#2e333a;}
.dark .fenye span.current{background:#ed5565;color:#c1c4c9;}
.dark .fenye a:hover span{background:#ed5565;color:#c1c4c9;}
.dark .vip1{color:#706e6b;} /* 微光灰 */
.dark .vip2{color:#92908d;} /* 哑光灰 */
.dark .vip3{color:#8c6b4a;} /* 暗青铜 */
.dark .vip4{color:#a47148;} /* 磨砂铜 */
.dark .vip5{color:#9c5c2b;} /* 赤铜 */
.dark .vip6{color:#b8860b;} /* 暗香金 */
.dark .vip7{color:#d4af37;} /* 古典金 */
.dark .vip8{color:#e6c65b;} /* 柔光金 */
.dark .vip9{color:#ffcf40;} /* 华贵金 */
.dark .vip10{color:#ffc107;} /* 流光金 */
.dark .vip11{color:#c77eb5;} /* 暗紫金 */
.dark .vip12{color:#ab47bc;} /* 紫金 */
.dark .touching-header{border-bottom:3px solid #161a20;box-shadow:0 0 4px #070b10;background:#21252c;}
.dark .touching-header h2{color:#f5f7f8;}
.dark .touching-header p{color:#c1c4c9;}
.dark .touching-waterfall .touching-list .comment-datetime{color:#767a80;}
.dark .touching-waterfall .touching-list .comment-content p{color:#c1c4c9;}
.dark .touching-waterfall .touching-list .comment-from{color:#8a8e94;}
.dark .touching-waterfall li.comment{border-bottom:3px solid #161a20;box-shadow:0 0 4px #070b10;}
.dark .touching-waterfall li.comment:hover{box-shadow:0 0 4px rgba(61,63,65,0.3);}
.dark .touching-waterfall li.comment.even{background:linear-gradient(135deg, #282e35 0%, #282727 100%);}
.dark .touching-waterfall li.comment.odd{background:#252a30;}
.dark .comment-list .comment-body .touching-comments-chosen{background:#483c20;}
.dark .comment-list .comment-body .touching-comments-chosen a,.dark .comment-list .comment-body .touching-comments-chosen span{color:#b7a89a;}
.dark .comment-list li.comment{border-top:1px solid #32363c;}
.dark .comment-list li.comment:first-child{border-top:none;}
.dark .comment-list li.comment ul.children li{border-top:1px dashed #32363c;}
.dark .comment-list .thread-alt{background:#23282d;}
.dark .comment-list .comment-body{background:#2c3138;border:1px solid #32363c;}
.dark .comment-list .comment-body:hover{background:#2e333a;}
.dark .article-subtitle{color:#767a80;}
.dark .comment-list .comment-avatar{background:#21252c;}
.dark .comment-list .comment-avatar img{background:#9da1a7;}
.dark .comment-list .comment-box{color:#b4b7bb;}
.dark .comment-list .comment-box .comment-name{color:#dadde1;}
.dark .comment-list .comment-box .post-author{color:#dadde1;background:#454a50;}
.dark .comment-list .comment-box .floor,.dark .comment-list .comment-box .comment-area,.dark .comment-list .comment-box .comment-info{color:#767a80;}
.dark .comment-list .comment-box .comment-content .comment-approved{color:#da4839;}
.dark .comment-list .comment-box .comment-content p a{color:#c2818a;}
.dark .comment-list .comment-box .comment-content p a:hover{color:#ed5565;}
.dark .comment-list .comment-box .comment-content blockquote{background:#454a50;border-top:1px solid #767a80;border-right:1px solid #767a80;border-bottom:1px solid #767a80;border-left:0.375rem solid #767a80;}
.dark .comment-list .comment-box .comment-content code{background:#2e333a;color:#c391b4;}
.dark .comment-ajax-tip{color:#9da1a7;background:#21252c;}
.dark .comment-ajax-tip-error{color:#ed6c02;background:#21252c;}
.dark .comment-respond{border-top:1px solid #3a3f45;}
.dark .comment-list .comment-respond{border-top:none;}
.dark .comment-respond .comment-reply-title{color:#9da1a7;}
.dark .comment-respond .comment-form .comment-notes{color:#8a8e94;}
.dark .comment-frame .comment-author-avatar img{border:2px solid #454a50;}
.dark .comment-frame .comment-post .comment-author-info .comment-input label{color:#767a80;}
.dark .comment-frame .comment-post .comment-author-info .comment-input input{background:#2c3138;color:#b4b7bb;border:2px solid #3a3f45;}
.dark .comment-frame .comment-post .comment-author-info .comment-input input::-webkit-input-placeholder{color:#767a80;}
.dark .comment-frame .comment-post .comment-author-info .comment-input input::-moz-placeholder{color:#767a80;}
.dark .comment-frame .comment-post .comment-author-info .comment-input input:focus{border:2px solid #767a80;outline:none;}
.dark .comment-frame .comment-post .comment-emoji .emoji-post a{color:#767a80;}
.dark .comment-frame .comment-post .comment-emoji .emoji-post a:hover{color:#c1c4c9;}
.dark .comment-frame .comment-post .comment-emoji .emoji-smilies{background:#21252c;}
.dark .comment-frame .comment-post textarea{background:#2c3138;color:#b4b7bb;border:2px solid #3a3f45;}
.dark .comment-frame .comment-post textarea::-webkit-input-placeholder{color:#767a80;}
.dark .comment-frame .comment-post textarea::-moz-placeholder{color:#767a80;}
.dark .comment-frame .comment-post textarea:focus{border:2px solid #767a80;outline:none;}
.dark .comment-frame .comment-post .form-submit input{background:#2c3138;color:#b4b7bb;border:2px solid #3a3f45;}
.dark .comment-frame .comment-post .form-submit input:hover{background:#3a3f45;}
.dark .widget-comment-commentator{color:#767a80;}
.dark .archives-counts{color:#9da1a7;}
.dark .archives-info{color:#21252c;}
.dark .archives-statistics{border:1px solid #3a3f45;}
.dark .archives-statistics ul li:hover{background:#2c3138;}
.dark select#archive-selector{background:#2c3138;color:#b4b7bb;border:2px solid #454a50;}
.dark select#archive-selector:focus{border:2px solid #767a80;outline:none;}
.dark .car-plus,.dark .car-minus{color:#8a8e94;}
.dark .archives-title,.dark .archive-count,.dark .car-list .cy-archive-count{color:#767a80;}
.dark .car-list h3{border-bottom:1px dotted #454a50;}
.dark .car-list .cy-yeartitle{box-shadow:inset 0 -0.5rem 0 0 #4a3235;}
.dark .car-list .car-days{background:#2e333a;color:#767a80;}
.dark .page-tag .tag-index li{background:#32363c;color:#454a50;}
.dark .page-tag .tag-index li:hover{background:#ed5565;}
.dark .page-tag .tag-index li a{color:#c1c4c9;}
.dark .page-tag .tag-index li a:hover{color:#f5f7fa;}
.dark .page-tag .tag-index li:hover:not(:has(a)){background:#32363c;}
.dark .page-tag .tag-list li{border-bottom:1px dashed #2e333a;}
.dark .page-tag .tag-list li:last-child{border:none;}
.dark .page-tag .tag-cloud-item{background:#282e35;border:1px solid #3a3f45;}
.dark .page-tag .tag-cloud-item:hover{background:#ed5565;border:1px solid #ed5565;color:#e8eaed;}
.dark .page-tag .tag-cloud-count{background:#3a3f45;color:#9da1a7;border:1px solid #454a50;}
.dark .page-tag .tag-cloud-item:hover .tag-cloud-count{background:#973641;border:1px solid #973641;color:#c1c4c9;}
.dark .page-tag .tag-cloud-item .topicicon{color:#767a80;}
.dark .page-tag .tag-cloud-item:hover .topicicon{color:#f6dfdf;}
.dark .link-blogger ul li{background:#2c3138;color:#9da1a7;}
.dark .link-blogger ul li img{background:#767a80;}
.dark .top-comment ul li img{border:1px solid #767a80;background:#454a50;}
.dark .top-comment ul li img:hover{border:1px solid #5b4747;}
.dark .top-comment ul li .cnt{background:#620000;color:#b4b7bb;box-shadow: 0 0 0 0.1rem #afafaf;}
.dark .sidebar .widget,.dark .right-side .widget{background:#21252c;border-bottom:3px solid #161a20;box-shadow:0 0 4px #070b10;}
.dark .sidebar .widget .widget-title,.dark .sidebar .widget .wp-block-heading,.dark .right-side .widget .widget-title{background:#252a30;color:#c1c4c9;}
.dark .sidebar .widget select{background:#2c3138;color:#b4b7bb;border:2px solid #454a50;}
.dark .sidebar .widget select:focus{border:2px solid #767a80;outline:none;}
.dark .sidebar .widget .widget-tags a:nth-child(9n){color:#2278c7;background-color:rgba(34, 120, 199, 0.2);}
.dark .sidebar .widget .widget-tags a:nth-child(9n+1){color:#b41448;background-color:rgba(180, 20, 72, 0.2);}
.dark .sidebar .widget .widget-tags a:nth-child(9n+2){color:#4552ba;background-color:rgba(69, 82, 186, 0.2);}
.dark .sidebar .widget .widget-tags a:nth-child(9n+3){color:#b03d00;background-color:rgba(176, 61, 0, 0.2);}
.dark .sidebar .widget .widget-tags a:nth-child(9n+4){color:#1a7613;background-color:rgba(26, 118, 19, 0.2);}
.dark .sidebar .widget .widget-tags a:nth-child(9n+5){color:#ab2f9c;background-color:rgba(171, 47, 156, 0.2);}
.dark .sidebar .widget .widget-tags a:nth-child(9n+6){color:#41a747;background-color:rgba(65, 167, 71, 0.2);}
.dark .sidebar .widget .widget-tags a:nth-child(9n+7){color:#b07400;background-color:rgba(176, 116, 0, 0.2);}
.dark .sidebar .widget .widget-tags a:nth-child(9n+8){color:#b26b7e;background-color:rgba(178, 107, 126, 0.2);}
.dark .sidebar .widget a:link,.dark .sidebar .widget a:visited,.dark .right-side .widget a:link,.dark .right-side .widget a:visited,.dark .main .article-related ul li a:link,.dark .main .article-related ul li a:visited{color:#9da1a7;}
.dark .sidebar .widget a:hover,.dark .right-side .widget a:hover,.dark .main .article-related ul li a:hover{color:#ed5565;}
.dark .sidebar .about-author .author-avatar{background:#15181c;border:0.1875rem solid #282e35;box-shadow:0 0.125rem 0.3125rem rgba(149,149,149,0.1);}
.dark .sidebar .about-author .author-name{color:#b4b7bb;}
.dark .sidebar .about-author .author-description{color:#8a8e94;}
.dark .sidebar .about-author .stat-number{color:#b4b7bb;}
.dark .sidebar .about-author .stat-label{color:#767a80;}
.dark .sidebar .reader-wall-list li img{border:2px solid #767a80;background:#454a50;}
.dark .sidebar .reader-wall-list li img:hover{border:2px solid #767a80;}
.dark .right-side .widget-comment ul li img.avatar{background:#454a50;border:1px solid #3a3f45;}
.dark .tabnav{background:#2c3138;}
.dark .tabnav li{background:#2c3138;color:#c1c4c9;}
.dark .tabnav .selected{background:#21252c;}
.dark .tabnav .selected{border-top:0.25rem solid #ed5565;}
.dark .widget-comment-top .avatar{border:1px solid #3a3f45;background:#454a50;}
.dark .widget-comment-date{color:#454a50;}
.dark .widget-comment-content{background:#2c3138;}
.dark .widget-comment-content:before{border-bottom:7px solid #2c3138;}
.dark .searchform #s,.dark .wp-block-search input{background:#1f2227;border:2px #3a3f45 solid;color:#9da1a7;}
.dark .searchform #searchsubmit,.dark .wp-block-search button{background:#3a3f45;color:#b4b7bb;}
.dark .searchform #searchsubmit{border:2px solid #3a3f45;}
.dark .wp-block-table table td{border:1px #3a3f45 solid;}
.dark .calendar_wrap caption, .dark .wp-block-calendar table caption{color:#b4b7bb;}
.dark .calendar_wrap table #today,.dark .wp-block-calendar table #today{background:#252a30;}
.dark .calendar_wrap table thead th,.dark .wp-block-calendar table th{background:#282e35;border:1px #3a3f45 solid;color:#b4b7bb;}
.dark .calendar_wrap table td,.dark .wp-block-calendar table td{border:1px #3a3f45 solid;background:#2e333a;color:#686b70;}
.dark .calendar_wrap table td.pad, .dark .wp-block-calendar table td.pad{background:#21252c;}
.dark .footer{background:#21252c;}
.dark .footer p,.dark .footer a:link,.dark .footer a:visited{color:#767a80;}
.dark img,.dark .sidebar .about-author .author-cover{filter:brightness(80%);}
.dark .headermenu{background:#2c3138;}
.dark .mm-left{background:#2c3138;border-color:#1f1f1f;color:#c1c4c9;}
.dark .mm-right{background:#1a1d21;color:#c1c4c9;}
.dark .mm-left .mm-navbar{border-color:#1f1f1f;}
.dark .mm-right .mm-navbar{border-color:#2c3138;}
.dark .mm-menu .mm-navbar .mm-title{color:#9da1a7;}
.dark .mm-menu em.mm-counter{color:#767a80;}
.dark .mm-menu .mm-navbar a,.dark .mm-menu .mm-navbar>*{color:#c1c4c9;}
.dark .mm-menu .mm-btn:after,.dark .mm-menu .mm-btn:before{border-color:#767a80;}
.dark .mm-menu .mm-listview{border-color:#1f1f1f;}
.dark .mm-menu .mm-listview>li .mm-arrow:after,.dark .mm-menu .mm-listview>li .mm-next:after{border-color:#767a80;}
.dark .mm-menu .mm-listview>li.current-cat,.dark .mm-menu .mm-listview>li.current-cat-parent,.dark .mm-menu .mm-listview>li.current-cat-ancestor,.dark .mm-menu .mm-listview>li.current_page_item,.dark .mm-menu .mm-listview>li.current_page_parent,.dark .mm-menu .mm-listview>li.current_page_ancestor{background:#32363c;}
.dark .mm-menu .mm-listview>li a:active{background:#454a50;}
.dark .mm-menu .mm-listview>li a:not(.mm-next){-webkit-tap-highlight-color:rgba(0,0,0,.1);tap-highlight-color:rgba(0,0,0,.1);}
.dark .mm-menu .mm-listview>li.mm-selected>a:not(.mm-next),.dark .mm-menu .mm-listview>li.mm-selected>span{background:rgba(0,0,0,.1);}
.dark .menuside .mm-search{border-bottom:1px solid #1f1f1f;}
.dark .menuside .mm-search input{background:#3a3f45;color:#b4b7bb;}
.dark .mm-wp-admin{background-color:#2c3138;border-top:1px solid #1f1f1f;}
.dark .timeline-archive:before{background:#3a3f45;}
.dark .timeline-archive .tl-archive-ul li{background:#32363c;}
.dark .timeline-archive .tl-archive-ul li:before,.dark .timeline-archive .tl-archive-ul li:after{background:#21252c;}
.dark .timeline-archive .tl-archive-ul li:after{background:#454a50;}
.dark .timeline-archive .tl-archive-ul li:hover:after{background:#ed5565;}
.dark .timeline-archive .tl-archive-year{color:#b4b7bb;background:#3a3f45;}
.dark .timeline-archive .tl-archive-year:before{border-right:0.625rem solid #3a3f45;}
.dark .timeline-archive .tl-archive-date,.dark .timeline-archive .tl-archive-count{color:#9da1a7;}
.dark .timeline-archive .tl-archive-commentcount{color:#8a8e94;}
.dark code[class*=language-],.dark pre[class*=language-]{text-shadow:none;color:#c1c4c9;background:0 0;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;white-space:pre-wrap;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;}.dark pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto;}.dark :not(pre)>code[class*=language-],.dark pre[class*=language-]{background:#2c3138;}.dark :not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal;}.dark .token.block-comment,.dark .token.cdata,.dark .token.comment,.dark .token.doctype,.dark .token.prolog{color:#9da1a7;}.dark .token.punctuation{color:#c1c4c9;}.dark .token.attr-name,.dark .token.deleted,.dark .token.namespace,.dark .token.tag{color:#e2777a;}.dark .token.function-name{color:#6196cc;}.dark .token.boolean,.dark .token.function,.dark .token.number{color:#f08d49;}.dark .token.class-name,.dark .token.constant,.dark .token.property,.dark .token.symbol{color:#f8c555;}.dark .token.atrule,.dark .token.builtin,.dark .token.important,.dark .token.keyword,.dark .token.selector{color:#cc99cd;}.dark .token.attr-value,.dark .token.char,.dark .token.regex,.dark .token.string,.dark .token.variable{color:#7ec699;background:hsla(0,100%,0%,.08);}.dark .token.entity,.dark .token.operator,.dark .token.url{color:#67cdcc;background:hsla(0,100%,0%,.08);}.dark .token.bold,.dark .token.important{font-weight:700;}.dark .token.italic{font-style:italic;}.dark .token.entity{cursor:help;}.dark .token.inserted{color:green;}
.dark pre[class*=language-].line-numbers{position:relative;padding-left:3.8em;counter-reset:linenumber;}.dark pre[class*=language-].line-numbers>code{position:relative;white-space:inherit;}.dark .line-numbers .line-numbers-rows{position:absolute;pointer-events:none;top:0;font-size:100%;left:-3.8em;width:3em;letter-spacing:-1px;border-right:1px solid #999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}.dark .line-numbers-rows>span{display:block;counter-increment:linenumber;}.dark .line-numbers-rows>span:before{content:counter(linenumber);color:#9da1a7;display:block;padding-right:.8em;text-align:right;}
.dark div.code-toolbar{position:relative;}.dark div.code-toolbar>.toolbar{position:absolute;z-index:10;top:.3em;right:.2em;transition:opacity .3s ease-in-out;opacity:0;}.dark div.code-toolbar:hover>.toolbar{opacity:1;}.dark div.code-toolbar:focus-within>.toolbar{opacity:1;}.dark div.code-toolbar>.toolbar>.toolbar-item{display:inline-block;}.dark div.code-toolbar>.toolbar>.toolbar-item>a{cursor:pointer;}.dark div.code-toolbar>.toolbar>.toolbar-item>button{background:0 0;border:0;color:inherit;font:inherit;line-height:normal;overflow:visible;padding:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;}.dark div.code-toolbar>.toolbar>.toolbar-item>a,.dark div.code-toolbar>.toolbar>.toolbar-item>button,.dark div.code-toolbar>.toolbar>.toolbar-item>span{color:#b4b7bb;font-size:.8em;padding:0 .5em;background:#f5f2f0;background:rgba(224,224,224,.2);box-shadow:0 2px 0 0 rgba(0,0,0,.2);border-radius:.5em;}.dark div.code-toolbar>.toolbar>.toolbar-item>a:focus,.dark div.code-toolbar>.toolbar>.toolbar-item>a:hover,.dark div.code-toolbar>.toolbar>.toolbar-item>button:focus,.dark div.code-toolbar>.toolbar>.toolbar-item>button:hover,.dark div.code-toolbar>.toolbar>.toolbar-item>span:focus,.dark div.code-toolbar>.toolbar>.toolbar-item>span:hover{color:inherit;text-decoration:none;}
.dark .main .article .article-content .code-toolbar code{background:transparent;}
@media screen and (max-width:991px)
{
.dark .main .crumb,.dark .main .post,.dark .main .type-page,.dark .main .article,.dark .sidebar .widget{background:#21252c;border-bottom-color:#15181c;}
.dark #hamburger:before,.dark #hamburger:after,.dark #hamburger span{background:#e8eaed;}
.dark .righticon:before{color:#e8eaed;}
.dark html.mm-right .righticon:before{color:#e8eaed;}
.dark .nav-next{border-top:1px solid #32363c;}

.dark .comment-frame .comment-post .comment-emoji .emoji-smilies:before{border-right:7px solid #21252c;}
.dark .link-blogger ul li{background:#21252c;}
.dark .link-blogger .links-item a{background:#3a3f45;}
.dark .search-box input{background:#2c3138;border:2px solid #3a3f45;color:#b4b7bb;}
.dark .search-box input::-webkit-input-placeholder{color:#767a80;}
.dark .search-box input::-moz-placeholder{color:#767a80;}
.dark .search-box input:focus{border:2px solid #767a80;outline:none;}
.dark .search-box .nficon{color:#8a8e94;}
.dark .search-box .nficon:hover{color:#b4b7bb;}
}
@media screen and (min-width:992px)
{
.dark .comment-frame .comment-post .comment-emoji .emoji-smilies:before{border-left:7px solid #21252c;}
}